<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>

    <h1>Make your form here</h1>

    <form class="" action="/pirates" method="post">

      <p><label for=""></label>
      <input type="text" name="" id=""></p>

      <p><label for=""></label>
      <input type="text" name="" id=""></p>

      <p><label for=""></label>
      <input type="text" name="" id=""></p>

      <p><input type="submit" value="submit"></p>
    </form>

  </body>
</html>
