<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1><%= @pirate %></h1>

    <h2><%= @ship[0] %></h2>

    <h2><%= @ship[1] %></h2>

  </body>
</html>
